{% extends "base.html" %}

{% block title %}Video List{% endblock %}

{% block content %}
<h1 class="my-4">Videos</h1>
<form method="GET" class="mb-4">
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<div class="row">
    {% for video in videos %}
    <div class="col-md-4 mb-4">
        <div class="video-item">
            <h2>{{ video.title }}</h2>
            <p>{{ video.description }}</p>
            <a href="{% url 'video_detail' video.id %}">
                <video onmouseover="this.play()" onmouseout="this.pause(); this.currentTime=0;">
                    <source src="{{ video.video_file.url }}" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}